<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SolutionId" value="54D24F6F-9E1E-4CCC-B4C5-070BEB76F5FB"/>
		<add key="SolutionFile" value="SgartIt.Sp.DocLibTreeView.wsp"/>
		<add key="SolutionTitle" value="Sgart.it DocLib Tree View Web Part"/>
		<add key="SolutionVersion" value="1.0.0"/>
		<add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
		<add key="RequireDeploymentToAllContentWebApplications" value="false"/>
	</appSettings>
</configuration>
